body {
    font-family: sans-serif;
    font-size: 20px;
    width: 765px;
}
h1 {
    padding-bottom: 0px;
    margin: 0px;
}
hr {
    padding: 0px;
    margin: 0px;
}
#header {
    margin-top: 0px;
    margin-bottom: 30px;
}
div {
    text-indent: 60px;
    text-align: justify;
}
.text-bold {
    font-weight: bold;
}
.text-lightblue {
    color: rgb(1, 152, 202)
}
.text-darkblue {
    color: rgb(0, 0, 158)
}
.superscript {
    vertical-align: super;
    font-size: 50%;
}